<div class="container">
    <div class="row">
        <div class="col-4">
            <div>
                <a href="/snowboard">
                    <img style="width: 200px" src="http://shuhasnow.ru/713916488.png" alt="" srcset="">
                </a>
                <div>
                    <a href="/surf">
                        <img style="width: 200px"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HlQz7ZNlhIUHJr_AUaQN5E4FLSxVrTWgkOCQN0PseUvAV8JWaw"
                            alt="" srcset="">
                    </a>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div>
                <a href="#">
                    <img style="width: 200px" src="https://image.flaticon.com/icons/png/512/37/37960.png" alt=""
                        srcset="">
                </a>
            </div>
            <div>
                <a href="/#">
                    <img style="width: 200px"
                        src="https://st3.depositphotos.com/7248524/12559/v/950/depositphotos_125591366-stock-illustration-bungee-jumping-flat-icon.jpg"
                        alt="" srcset="">
                </a>
            </div>
        </div>
        <div class="col-4">
            <div>
                <div>
                    <div>
                        <a href="#">
                            <img style="width: 200px" src="https://image.freepik.com/free-vector/_60438-13.jpg" alt=""
                                srcset="">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <a href="#">
                            <img style="width: 250px" src="https://st2.depositphotos.com/6837936/9841/v/950/depositphotos_98418000-stock-illustration-wingsuit-b-a-s-e.jpg" alt=""
                                srcset="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

