<form action="/form" method="post">
    <div class="form-group">
        <label>Sport</label>
        {{!-- <select name="" id="">
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
        </select> --}}
           <input type="text" name="sport" class="form-control" />
    </div>
    <div class="form-group">
        <label>Туда :</label>

        <input type="date" name="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Обратно :</label>
        <input type="date" name="date" class="form-control" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Create" />
    </div>
</form>

